<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="6be46f">  <td>20/10/21 18:36:24</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;TestCase02.SetUp()[pri:0, instance:Assignment.TestCase02@40e6dfe1]">&gt;&gt;SetUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@102065302</td>   <td></td> </tr>
<tr bgcolor="6be46f">  <td>20/10/21 18:36:36</td>   <td>12290</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestCase02.TitleVerification()[pri:1, instance:Assignment.TestCase02@40e6dfe1]">TitleVerification</td> 
  <td>main@102065302</td>   <td></td> </tr>
<tr bgcolor="6be46f">  <td>20/10/21 18:36:45</td>   <td>20859</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestCase02.LinkVerification()[pri:2, instance:Assignment.TestCase02@40e6dfe1]">LinkVerification</td> 
  <td>main@102065302</td>   <td></td> </tr>
</table>
